.page {
  display: block;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a:hover {
  opacity: 0.6;
  transition: 0.2s;
  cursor: pointer;
}
